<!DOCTYPE html>
<html lang="en">
<head>
   <title>Eggie's Grocery Store!</title>

   <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
   <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
   <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

   <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/padding.css') }}">
</head>

<div class="container grid-lg">
<div class="columns">
<div class="column col-12 nav-padding">
<header class="navbar">
   <section class="navbar-section">
      <a href="#" class="btn btn-link">Login</a>
      <a href="#" class="btn btn-link">Cart</a>
   </section>
   <section class="navbar-center">
      <a href="" class="navbar-brand mr-2">Eggie's Grocery Store</a>
   </section>
   <section class="navbar-section">
      <div class="input-group input-inline">
         <input class="form-input" type="text" placeholder="piggie">
         <button class="btn btn-primary input-group-btn">Search</button>
      </div>
   </section>
</header>
</div>
</div>

<body>
   <div class="container">
      <div class="columns">
         <div class="column col-12">
         </div>
      </div>
   </div>
</body>
</div>
</html>
